<div class="row pt-3">
    <div class="col-lg-2 logo-area">
        <div class="logo-image">
            <img src="/Assets/klubilogo.png" alt="klubilogo">
        </div>
        <div class="logo-name">
            PUHAS LOODUS
        </div>
    </div>
    <div class="col-lg-10 menuu">
        <div><a href="/">ESILEHT</a></div>
        <div><a href="/kontakt">KONTAKT</a></div>
        <div><a href="/uudised">UUDISED</a></div>
    </div>