<!DOCTYPE html>
<html lang="en">
<head>
     <title>Admin</title>
    <%-include("./partials/header.ejs") %>
    </head>
<body>
    <div class="header">
        <div class="container">
            <%-include("./partials/menyy.ejs") %>
<div id="admin-sisu" class="admin-sisu mt-3">
    Siia tuleb admin leht
</div>
<script src="/admin.js"></script>
</body>
</html>